* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #fafafa;
	width: 100%;
}
li {
	list-style: none; /*  取消li 的小点 */
}

 .clearfix:after {  content: ""; display: block; height: 0; clear: both; visibility: hidden;  }   

 .clearfix {*zoom: 1;}   /* IE6、7 专有 */
/* 顶部导航栏开始啦 */
.header {
	width: 100%;
	height: 158px;
	background-color: #fff;
	box-shadow: 0 0 15px 0 rgba(199,170,144,1);
	
	}
.inner {
	
	z-index: 999;
	width: 1450px;
	height: 158px;
	/* background-color: pink; */
	margin: 0 auto;
	height: 158px;

}
.logo {
	margin-top: 45px;
	width: 80px;
	float: left;
	margin-left: 120px;
}

.inner .nav{
	float: right;
	margin-right:120px;
}
.inner .nav ul {

	overflow: hidden;
	line-height: 124px;
	text-align:center;

}
.inner .nav li  {
	width: 180px;
	border-right: solid 1px #333;
	text-align:center;
	line-height: 2em;
	margin-left: 0px;
	float: left;
	margin-top: 60px;
	
}

	
.inner .nav li a {
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 18x;
	text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    padding-bottom: 4px;
   
}

.inner .nav li a:hover {
	color:#fab93c;
	border-bottom: 4px solid #fab93c;
}

.inner .nav li a:active {
	color:#fab93c;
	border-bottom: 4px solid #fab93c;
}
.banner{
	margin-top: 3px;
}

------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.05);
    padding: 120px 0;
    padding-bottom: 80px;
  }

  footer .section-title {
    padding-bottom: 10px;
  }

  footer h2 {
    font-family: "宋体";
    font-size: 20px;
  }

  footer a,
  footer p {
    margin-top: 20px;
    line-height: 2em;
     font-family: "宋体";
    color: #909090;
  }

  footer strong {
    color: #d9d9d9;
  }

  footer address p {
    line-height: 40px;
    margin-bottom: 0;
  }

  .footer-info,
  footer .social-icon {

  }

  .footer-open-hour {
    
    background-size: cover;
    border-radius: 20px;
    margin-top: 0;
    padding: 40px 0 40px 80px;
    overflow: hidden;
    position: relative;
    z-index: 22;
    right: 20px;
    bottom: 20px;
  }

  .footer-open-hour::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2222;
  }

  .footer-open-hour h2 {
    margin-top: 0;
    color: #575757;
  }

  .footer-open-hour p {
    color: #575757;
  }

  .footer-open-hour strong {
    color: #575757;
  }
   .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .social-icon li a {
    border-radius: 100px;
    color: orange;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .social-icon li a:hover {
    background: orange;
    color: #ffffff;
  }

